
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}


.hero {
    width: 100%;
    min-height: 100vh;

    background: linear-gradient(rgba(8,0,8,0.7),rgba(8,0,8,0.7)), url("../../../images/bookstore.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.hero_text {
    text-align: center;
    max-width: 900px;
}

.hero_text h1 {
    font-size: clamp(40px, 6vw, 80px);
    font-weight: 600;
    font-family: "Anton", sans-serif;
    margin-bottom: 20px;
}

.hero_text p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.4;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.vision_section,
.mission_section,
.about_section,
.story_section {
    padding: 80px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.mission_section,
.story_section {
    background-color: #f9f7f2;
}

.vision_section,
.about_section {
    background-color: #ffffff;
}


.vision_container,
.mission_container,
.about_container,
.story_container {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}


.vision_content,
.mission_content,
.about_content,
.story_content {
    flex: 1;
    min-width: 300px;
}


.vision_header,
.mission_header,
.about_header,
.story_header {
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    font-family: serif;
    color: #1a1a1a;
    margin-bottom: 25px;
}


.vision_text,
.mission_text,
.about_text,
.story_text {
    font-size: clamp(1.1rem, 1.3vw, 1.4rem);
    line-height: 1.7;
    color: #4a4a4a;
}


.vision_image,
.mission_image,
.about_image,
.story_image {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 300px;
}


.vision_image img,
.mission_image img,
.about_image img,
.story_image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    object-fit: cover;
}


@media (max-width: 900px) {
    .vision_container,
    .mission_container,
    .about_container,
    .story_container {
        flex-direction: column; /* Stacks items vertically */
        text-align: center;
    }

    .hero {
        padding-top: 100px;
    }
}