.mission_section{
    background-color: #f9f7f2;
    padding: 80px 10px;
    width: 100%;
    min-height: 500px;
}

.mission_container{

    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}

/* Left Side Styling */
.mission_content {
    flex: 0.8;
    max-width: 500px;
}

.mission_header {
    font-size: 3.5rem;
    font-family: serif;
    color: #1a1a1a;
    margin-bottom: 20px;
}

.mission_text {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #4a4a4a;
}

.mission_image{
    flex: 0.5;
}

.mission_image img{


    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.vision_section{
    background-color: #f9f7f2;
    padding: 80px 10px;
    width: 100%;
    min-height: 500px;
}

.vision_container{

    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}

/* Left Side Styling */
.vision_content {
    flex: 0.8;
    max-width: 500px;
}

.vision_header {
    font-size: 3.5rem;
    font-family: serif;
    color: #1a1a1a;
    margin-bottom: 20px;
}

.vision_text {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #4a4a4a;
}

.vision_image{
    flex: 0.5;
}

.vision_image img{


    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.about_section{
    background-color: #f9f7f2;
    padding: 80px 10px;
    width: 100%;
    min-height: 500px;
}

.about_container{

    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}

/* Left Side Styling */
.about_content {
    flex: 0.8;
    max-width: 500px;
}

.about_header {
    font-size: 3.5rem;
    font-family: serif;
    color: #1a1a1a;
    margin-bottom: 20px;
}

.about_text {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #4a4a4a;
}

.about_image{
    flex: 0.5;
}

.about_image img{


    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.story_section{
    background-color: #f9f7f2;
    padding: 80px 10px;
    width: 100%;
    min-height: 500px;
}

.story_container{

    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}

/* Left Side Styling */
.story_content {
    flex: 0.8;
    max-width: 500px;
}

.story_header {
    font-size: 3.5rem;
    font-family: serif;
    color: #1a1a1a;
    margin-bottom: 20px;
}

.story_text {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #4a4a4a;
}

.story_image{
    flex: 0.5;
}

.story_image img{


    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}