.footer_container {
    background-color: #212121;
    color: #F5F5F5;
    width: 100%;
    padding: 30px 10px;
    text-align: center;
    margin-top: auto; /* attention . use to push footer to botton.*/
}


.footer_container h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    letter-spacing: 1px;
}


.footer_info p {
    margin: 8px 0;
    font-size: 1rem;
    color: #dcdcdc;
}


.footer_copyright {
    margin-top: 30px;
    font-size: 0.8rem;
    color: #666;
    border-top: 1px solid #333;
    padding-top: 20px;
}