
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.nav-brand {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;

    flex: 1;
}

.logo-icon {
    font-size: 1.8rem;
    color: #fdd835;
}

.brand-text {
    font-size: 1.8rem;
    font-weight: 700;
    color: #2c3e50;
}


.nav-links {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

    flex: 0 auto;
}

.nav-links a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: 600;
    font-size: 1rem;
    position: relative;
    padding-bottom: 5px;
}


.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fdd835;
    transition: width 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: #000;
}


.nav-actions {
    display: flex;
    align-items: center;

    flex: 1;
    justify-content: flex-end;
}

.icon-group {
    display: flex;
    align-items: center;
    gap: 20px;
}


.icon-btn {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
    color: #2c3e50;
    font-size: 1.2rem;
    transition: all 0.2s ease;
    background-color: transparent; /
}

.icon-btn:hover {
    border-color: #2c3e50;
    background-color: #f8f9fa;
    transform: translateY(-2px); /* Tiny lift effect */
}